:host {
  display: block;
  width:200px;
  height: 200px;
}

:host>button {
  width: 200px;
  height: 200px;
  border:none;
  background-color:white;
}

.btn:hover{
  opacity: 0.5;
}

:host>button>img{
  width: 200px;
  position: center;
}